<section id="hero" class="gradient-background">
    <div class="container col-xxl-8 px-4 py-lg-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-lg-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3 header">Search for relevant entries bellow...</h1>
                <h4 class="fw-bold lh-1 mb-3 header">or use the search bar</h4>
            </div>
        </div>
    </div>
</section>