<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Disable favicon request -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="./stylesheets/style.css">


</head>

<body>
  <h1>Best ToDo App!</h1>
  <a href="/api/auth/login">Login</a>
</body>

</html>